@using Webdiyer.WebControls.Mvc
@using JGCK.Util
@model JGCK.Web.Admin.Models.VmUserDoctorIndex
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">基础管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>医生信息管理</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            @*<button type="button" class="btn green btn-sm btn-outline"> 新增 </button>*@
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <!--<label>Small Input Default Group</label>-->
                                <div class="input-group input-group-sm">
                                    @Html.TextBoxFor(m=>m.Filter,new{@class= "form-control",placeholder= "姓名、医生编号、手机" })
                                    <span class="input-group-btn">
                                        <button id="btnSearch" class="btn green" type="button">搜索</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <style>
                        .ul-person li {
                            list-style: none;
                            float: left;
                            margin: 10px;
                        }

                        .ul-person li .item {
                            display: inline-block;
                            height: 50px;
                            color: #fff;
                            background-color: #ff8666;
                            padding: 15px;
                            border-radius: 5px !important;
                            overflow: hidden;
                        }
                    </style>
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample_1">
                        <thead>
                        <tr>
                            <th class="sorting_asc"> 序号 </th>
                            <th class="sorting"> 医生姓名 </th>
                            <th class="sorting_desc"> 医生编号 </th>
                            <th> 固定电话 </th>
                            <th> 手机 </th>
                            <th class="sorting"> 审核状态 </th>
                            <th> 审核时间 </th>
                            <th> 操作 </th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            if (Model != null&&Model.ViewObjects!=null)
                            {
                                var itemIndex = 1;
                                foreach (var item in Model.ViewObjects)
                                {
                                    <tr>
                                        <td> @(Model.CurrentIndex * Model.PageSize + itemIndex) </td>
                                        <td> @item.NagigatedDoctor.RealName </td>
                                        <td> @item.NagigatedDoctor.Doctor.DoctorCode </td>
                                        <td> @item.NagigatedDoctor.Doctor.LinePhone </td>
                                        <td> @item.NagigatedDoctor.Doctor.MobilePhone </td>
                                        <td> @item.NagigatedDoctor.Doctor.AuditStatus.ToDescription() </td>
                                        <td> @item.NagigatedDoctor.Doctor.AuditDate </td>
                                        <td> <button type="button" class="btn green btn-sm" onclick="$('#modelfull').modal('show')" data-json="@(item.HiddenJsonString)"> 操作 </button> </td>
                                    </tr>
                                    itemIndex++;
                                }
                            }
                        }
                        </tbody>
                    </table>

                    <div>
                        @Html.Pager(Model.TotalRecordCount, Model.PageSize, Model.CurrentIndex, new PagerOptions
                        {
                            PageIndexParameterName = "p",
                            ContainerTagName = "ul",
                            CssClass = "pagination pagination-sm",
                            CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"javascript:; \"> {0} </a></li>",
                            DisabledPagerItemTemplate = "<li><a href=\"javascript:; \"> {0} </a></li>",
                            PagerItemTemplate = "<li>{0}</li>"
                        })
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            $("#btnSearch").click(function () {
                if ($("#Filter").val() == "") {
                    location.href = '@Url.Action("DoctorList")';
                    return;
                }
                var reloadUrlWithFilter = '@Url.Action("DoctorList")?filter=' + encodeURI($("#Filter").val());
                location.href = reloadUrlWithFilter;
            });
        })
    </script>
}
