
@{
    Layout = null;
}
@model JGCK.Web.Admin.Models.VmUserLogin
<!DOCTYPE html>

<html>
<head>
    <title>精功齿科-Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="~/assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon.png">
</head>
<body>
    <style>
        .LoginContainer {
            /*margin-top: 150px*/
            width: 1500px;
            height: 450px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }

        .overrideFancyCheckbox {
            display: inline-block !important;
            vertical-align: middle;
            position: relative;
            bottom: 1px;
            width: 18px;
            height: 18px;
            margin-right: 5px;
            content: "";
            border: 1px solid #ccc;
        }
    </style>
    <!-- WRAPPER -->
    <div id="wrapper" class="LoginContainer">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <div class="auth-box ">
                    <div class="left">
                        <div class="content">
                            <div class="header">
                                <div class="logo text-center"></div>
                                <p class="lead">账号登录</p>
                            </div>
                            @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form-auth-small" }))
                            {
                                <div class="form-group">
                                    <label for="signin-email" class="control-label sr-only">用户名</label>
                                    @Html.TextBoxFor(m => m.UserName, new { @id = "signin-email", @class = "form-control", placeholder = "用户名" })
                                    @*<input type="email" class="form-control" id="signin-email" value="samuel.gold@domain.com" placeholder="Email">*@
                                </div>
                                <div class="form-group">
                                    <label for="signin-password" class="control-label sr-only">密 码</label>
                                    @Html.PasswordFor(m => m.Pwd, new { @id = "signin-password", @class = "form-control", placeholder = "密码" })

                                    @*<input type="password" class="form-control" id="signin-password" value="thisisthepassword" placeholder="Password">*@
                                </div>
                                <div class="form-group clearfix">
                                    <label class="fancy-checkbox element-left">
                                        @Html.CheckBoxFor(m => m.IsRememberPwd, new { @class = "overrideFancyCheckbox" })
                                        <span>记住密码</span>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">确 定</button>
                                <div class="bottom">
                                    <span class="helper-text"><i class="fa fa-lock"></i> <a href="@Url.Action("ForgetPassword","User")">忘记密码</a></span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="right">
                        <div class="overlay"></div>
                        <div class="content text">
                            <h1 class="heading">上海精功齿科技术有限公司</h1>
                            <p>by 精功齿科</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div id="divErrorPanel" style="color:red">
                        @Html.ValidationSummary()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        setTimeout(function () {
            $("#divErrorPanel").hide();
        }, 10000)
    </script>
</body>
</html>
